* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    color: white;
}


header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 2% 2%;

   
}


    /* LOGO  */

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 65px;
    height: 65px;
    border-radius: 50%;
}

.logo .Gear {
    text-decoration: none;
    font-size: 1.8em;
    font-weight: bold;
    color: #FF7700;
}

.logo .Force {

    color: white;
}



.se_connecte{
    display: flex;
    justify-content: space-between ;
    align-items: center;
    gap: 40px;


}


.deja_compte {
    font-size: 1.2em;
    font-weight: bold;
    flex-shrink: 0;
    text-decoration: none;
    color: #ffffff;

}

.Connecter{
    border: 2px solid white;
    border-radius: 5px;
    padding: 3%;
    width: 50%;
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;
    text-decoration: none;
    color: #ffffff;
    flex-shrink: 0;
}



      /* SECTION DROITE */


    
