* {
    margin: 0;
    padding: 0;
}


body {

    display: flex;
    margin: 0;
    background-color: #000000;
    min-height: 100vh;
    color: white;
}

.logo .Gear {
    font-size: 1.5rem;
    font-weight: bold;
    color: #FF7700;
}

.logo .Force {
    color: white;
}

        /* SIDEBAR */
.sidebar {
    width: 220px;
    min-height: 100vh;
    background-color: #000000;
    border-right: 1px solid #2a1500;
    display: flex;
    flex-direction: column;
    padding: 1.5em 1em;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
}



.sidebar .logo {
    display: flex;
    align-items: center;
    gap: 0.5em;
    margin-bottom: 2em;
}

.sidebar .logo img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    flex-shrink: 0;
}


        /* NAVIGATION */


.sidebar_nav {
    display: flex;
    flex-direction: column;
    gap: 0.3em;
}

.sidebar_nav a {
    display: flex;
    align-items: center;
    gap: 0.7em;
    color: #ffffff;
    text-decoration: none;
    font-size: 0.95em;
    padding: 0.6em 0.8em;
    border-radius: 8px;
}

.sidebar_nav a:hover {
    color: white;
    background-color: #2a1500;
}

.sidebar_nav a.actif {
    color: #ff7700;
}



        /* MACHINES */

.sidebar_machines {
    display: flex;
    flex-direction: column;
    gap: 0.3em;
    margin-top: 1.5em;
    border-top: 1px solid #2a1500;
    padding-top: 1.5em;
}


.machine_item {
    display: flex;
    align-items: center;
    gap: 0.7em;
    color: #ffffff;
    font-size: 0.88em;
    padding: 0.6em 0.8em;
    border-radius: 8px;
    cursor: pointer;
}

.machine_item i {
    color: #ff7700;
    font-size: 1em;
    width: 18px;
    text-align: center;
    flex-shrink: 0;
}

.machine_item:hover {
    background-color: #2a1500;
    color: white;
}

.machine_item .actif {
    background-color: #2a1500;
    color: white;
}

.Buldozer {
    color: #FF7700;
}



        /* BAS SIDEBAR */

.sidebar_bas {
    margin-top: auto;
    display: flex;
    flex-direction: column;
    gap: 1em;
    border-top: 1px solid #2a1500;
    padding-top: 1em;
}

.sidebar_bas a {
    display: flex;
    align-items: center;
    gap: 0.7em;
    color: #aaa;
    text-decoration: none;
    font-size: 0.95em;
    padding: 0.6em 0.8em;
    border-radius: 8px;
}

.sidebar_bas a:hover {
    color: white;
}

    /* PROFIL*/

.sidebar .profil {
    display: flex;
    align-items: center;
    gap: 0.7em;
}

.sidebar .profil img {
    width: 38px;
    height: 38px;
    border-radius: 50%;
    object-fit: cover;
    flex-shrink: 0;
}

.sidebar .nom span {
    display: block;
    color: white;
    font-size: 0.85em;
    font-weight: bold;
}

.sidebar .nom .fonction {
    color: #aaa;
    font-size: 0.75em;
    font-weight: normal;
}


      /* CONTENU PRINCIPAL*/

.contenu {

    margin-left: 220px;
    flex: 1;
    padding: 2em;
    box-sizing: border-box;
}




.contenu {
    margin-left: 220px;
    flex: 1;
    padding: 2em;
    box-sizing: border-box;


}


      /* SECTION ENTETE */

.entete {
    display: flex;
    align-items: center;
    gap: 1em;
    background-color: #1A1D24;
    border-radius: 12px;
    padding: 1.2em 1.5em;
    margin-bottom: 2em;
}


.commande {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 0.4em;
}

.commande h3 {
    color: #aaa;
    font-size: 0.8em;
    font-weight: normal;
    margin: 0;
}

.nid {
    display: flex;
    align-items: center;
    gap: 0.6em;
}

.nid span:first-child {
    color: white;
    font-size: 0.9em;
    font-weight: bold;
}

.en_cours {
    background-color: #2563eb;
    color: white;
    font-size: 0.72em;
    font-weight: bold;
    padding: 0.2em 0.7em;
    border-radius: 20px;
}

.date span {
    display: block;
    color: #aaa;
    font-size: 0.78em;
}


       /* FOURNISSEUR */

.fournisseur {
    flex: 1;
    display: flex;
    align-items: center;
    gap: 1em;
    border-left: 1px solid #e1e1e1;
    border-right: 1px solid #e1e1e1;
    padding: 0 1.5em;
}

.BTP {
    background-color: #ff7700;
    color: white;
    font-weight: bold;
    font-size: 0.9em;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}

.nom_fourni h3 {
    color: white;
    font-size: 0.9em;
    margin: 0 0 0.2em 0;
}

.nom_fourni span {
    display: block;
    color: #aaa;
    font-size: 0.78em;
}

.avis {
    color: #aaa;
    font-size: 0.75em !important;
}


      /* TYPE SERVICE */

.type_service {
    flex: 1;
    display: flex;
    align-items: center;
    gap: 0.8em;
    padding-left: 1.5em;
}

.type_service > i {
    background-color: #0004ff;
    font-size: 0.9em;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.detail h3 {
    color: white;
    font-size: 0.82em;
    margin: 0 0 0.2em 0;
}

.nom_engin {
    color: #aaa;
    font-size: 0.78em;
  
}

        /* SECTION DETAIL */

.detail_commande {
    display: flex;
    gap: 2em;
    padding: 8%;

}


        /* GAUCHE : DETAIL COMMANDE */

.gauche {
    background-color: #1A1D24;
    border: 2px solid rgb(183, 183, 183);
    border-radius: 12px;
    padding: 1.5em;
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 0.8em;
}

.gauche h3 {
    color: white;
    font-size: 1em;
    margin: 0;
}


        /* image + nom engin */

.image_engin {
    display: flex;
    align-items: center;
    gap: 1em;
}

.image_engin img {
    width: 90px;
    height: 70px;
    object-fit: cover;
    border-radius: 8px;

}

.image_engin h3 {
    color: white;
    font-size: 0.95em;
    margin: 0 0 0.2em 0;
}

.image_engin span {
    display: block;
    color: #aaa;
    font-size: 0.82em;
}

.marque {
    color: #ff7700 !important;
    font-weight: bold;
}


      /* lignes details */

.engin_verifier {
    
    display: flex;
    flex-direction: column;
    gap: 0.6em;
}

.engin_verifier hr {
    border: none;
    border-top: 1px solid #e3e3e3;
    margin: 0.2em 0;
}

.periode,
.site_construction,
.transpord,
.assurance {
    display: flex;
    justify-content: space-between;
}

.periode span,
.site_construction span,
.transpord span,
.assurance span {
    color: #aaa;
    font-size: 0.82em;
    line-height: 1.5;
}

.debut_fin,
.lieu,
.transpord span:last-child,
.assurance span:last-child {
    text-align: right;
    color: white !important;
}

       /* DROITE : RESUME PAIEMENT */

.resumer {
    border: 2px solid rgb(255, 98, 0);
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}

            /* bloc resume */

.montant_tol,
.sequestre,
.paye,
.restant {
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.resumer {
    background-color: #1A1D24;
    border-radius: 12px;
    padding: 1.5em;
}

.montant_tol span,
.sequestre span,
.paye span {
    color: #aaa;
    font-size: 0.85em;
}

.montant_tol span {

    color: white;
    font-weight: bold;
    font-size: 0.9em;
}

.vert {
    color: #16a34a !important;
    font-size: 0.9em;
}

.bleue {
    color: #2563eb !important;
    font-size: 0.9em;
}

.restant {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.restant hr {
    border: none;
     border-top: 1px solid #ff6f00;
    width: 100%;
    margin: 0;
}

.ligne  {
    display: flex;
    justify-content: space-between ;
    width: 100%;
}


.reste {
    color: #ff7700;
    font-size: 0.85em;
}

.motant_restant {
    color: #ff7700;
    font-weight: bold;
    font-size: 0.95em;
}

      /* sablier */

.sablille {
    display: flex;
    gap: 5%;
}

.sablille i {
    margin-top: 2%;
}

.sablille span {
    color: #aaa;
    font-size: 0.78em;
    line-height: 1.5;
    display: flex;
    align-items: flex-start;
    gap: 0.5em;
}

     /* MOYEN PAIEMENT */

.moyen_paiement {
    background-color: #1A1D24;
    border: 2px solid rgb(255, 98, 0);
    border-radius: 12px;
    padding: 1.5em;
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin-top: 1.5em;
}

.moyen_paiement > span {
    color: white;
    font-size: 0.9em;
    font-weight: bold;
}

.moyen {
    display: flex;
    flex-direction: column;
    gap: 0.7em;
}

.moyen span,
.moyen div {
    display: flex;
    align-items: center;
    gap: 0.6em;
    color: #aaa;
    font-size: 0.85em;
}

.banque {
    color: #ff7700 !important;
}

        /* bouton payer */

.orange {
    background-color: #ff7700;
    border-radius: 8px;
    padding: 0.8em;
    text-align: center;
    cursor: pointer;
    margin-top: 0.5em;
}

.orange span {
    color: white;
    font-weight: bold;
    font-size: 0.9em;
}

.orange:hover {
    background-color: #e05d00;
}